@charset "utf-8";

@import "mixins/mixin-clearfix.scss";
@import "mixins/mixin-ratio-box.scss";
@import "mixins/mixin-fonts.scss";

@import "global/normalize.scss";
@import "global/box-model.scss";
@import "global/breakpoints.scss";
@import "global/colours.scss";
@import "global/img.scss";
@import "global/fonts.scss";
@import "global/type.scss";
@import "global/form.scss";
@import "global/document.scss";

@import "layouts/layout.scss";

@import "components/component.scss";